a {
    text-decoration: none;
    color: black;
}

* {
    font-family: 'Inconsolata', monospace;
    background-size: cover;
}

.button {
    padding: 10px;
    border: 2px solid white;
    font-size: 105%;
}

.finishButton {
    background-color: rgb(235, 192, 208);
}

.finishButton:hover {
    background-color: rgb(222, 163, 185);
}

.finishButton:active {
  background-color: rgb(222, 163, 185);
  box-shadow: 5px 5px rgb(174, 147, 157);
  transform: translateY(4px);
}

.changeBgButton {
    background-color: rgb(184, 189, 234);
}

.changeBgButton:hover {
    background-color: rgb(152, 159, 213);
}

.changeBgButton:active {
  background-color: rgb(152, 159, 213);
  box-shadow: 5px 5px rgb(145, 149, 167);
  transform: translateY(4px);
}

.title {
    width: 200px;
}

.center {
    margin: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h1 {
    padding: 10px;
    border: 2px solid white;
    background-color: antiquewhite;
    width: 243px;
}

body {
    margin-left: 380px;
    margin-top: 120px;
}

img {
    position: fixed;
    height: 400px;
    width: 400px;
    margin-top: -50px;
    margin-left: 380px;


}

.cake {
    z-index: 1;
    top: 0;
    left: 0;
}

.frosting {
    z-index: 2;
    top: 0;
    left: 0;
}

.topping {
    z-index: 3;
    top: 0;
    left: 0;
}
