a {
    text-decoration: none;
    color: black;
}

* {
    font-family: 'Inconsolata', monospace;
}

body {
    margin-left: 380px;
    margin-top: 140px;
}

img {
    position: fixed;
    height: 400px;
    width: 400px;
    margin-top: -50px;
    margin-left: 380px;

}

.cake {
    z-index: 1;
    top: 0;
    left: 0;
}

.frosting {
    z-index: 2;
    top: 0;
    left: 0;
}

.topping {
    z-index: 3;
    top: 0;
    left: 0;
}
